@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #121212; 
  --surface-color: #1e1e1e;
  --on-background-color: #e0e0e0;
  --on-surface-color: #cccccc;
  --primary-color: #ff8c00;
  --secondary-color: #9932cc;
  --border-color: #333333;
  --link-color: var(--primary-color);
  --link-hover-color: #ffaf40;

  --navbar-height: 64px; 
  --footer-height: 40px;

  --calendar-wrapper-bg-color: rgba(24, 26, 31, 0.85); 
  --calendar-elements-bg-color: #1e1e1e; 
}

html {
  height: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0; /* Globalny reset marginesów */
  padding: 0; /* Globalny reset paddingów */
}

body {
  /* margin: 0; Usunięte, bo jest w * */
  /* padding: 0; Usunięte, bo jest w * */
  height: 100%;
  font-family: var(--font-family-sans-serif);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color) !important;
  color: var(--on-background-color);
  line-height: 1.6;
  overflow-y: auto; /* Zmieniono na auto, aby body mogło scrollować, jeśli #root jest większe niż viewport */
                    /* Ale #root powinien mieć min-height: 100%, więc to powinno być rzadkie */
}

#root { /* Główny kontener aplikacji */
  min-height: 100%; /* Minimalna wysokość całego viewportu */
  display: flex;
  flex-direction: column;
  background-color: transparent; /* Aby cząsteczki z body były widoczne */
}

.app-container { /* Kontener wewnątrz App.jsx, bezpośrednie dziecko #root */
  flex-grow: 1; /* Pozwala temu kontenerowi wypełnić przestrzeń w #root */
  display: flex;
  flex-direction: column;
  position: relative; 
  z-index: 1; 
  background-color: transparent;
  width: 100%; /* Upewnij się, że zajmuje pełną szerokość */
}

.page-content { /* Główny kontener <main> dla treści stron */
  flex-grow: 1; /* Kluczowe, aby "wypchnąć" stopkę na dół */
  display: flex;
  flex-direction: column;
  background-color: transparent; 
  /* overflow-y: auto; Usunięty, scrollowanie powinno być na body lub #root, jeśli potrzeba */
  /*  jeśli page-content ma być scrollowalne niezależnie, można przywrócić */
  width: 100%; /* Upewnij się, że zajmuje pełną szerokość */
  opacity: 0;
  animation: fadeInUp 0.8s ease-out forwards;
  animation-delay: 0.2s;
}

/* Klasa .container-app używana np. w Toolbar */
.container-app {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem; 
  padding-right: 1rem;
}

@keyframes fadeInUp {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}